extends ../layouts/app

block content
  main.cd-main-content
    .container
      .row
        .col-md.col-xs.form_padding_reg
          .panel-wrap
            .panel-heading
              h1.text-center Register
            .panel-body
              form.reg(role='form', method='POST', action=route('register'))
                div!=csrf_field()
                .row

                  navs = json_decode('[["text","f_name","Họ"],["text","l_name","Tên"],["text","p_code","CMND"],["email","email","E-mail"],["password","password","Mật khẩu"],["password","password-confirm","Nhập lại mật khẩu"]]',true)
                  each nav, i in navs
                    .col-md-6.col-sm-6.col-xs.reg_form_margin
                      .form-group(class=$errors->has('#{nav[1]}') ? ' has-error ' : '' )
                        input(class=('#{nav[1]}')).form-control(type=('#{nav[0]}'), placeholder=('#{nav[2]}'), name=('#{nav[1]}'), value= old('#{nav[1]}'), required='required', autofocus='autofocus')
                        if ($errors->has('#{nav[1]}'))
                          span.help-block
                            strong=$errors->first('#{nav[1]}')

                  .col-md-6.col-sm-6.col-xs.reg_form_margin
                    .form-group(class=$errors->has('date') ? ' has-error' : '')
                      .form-group(required='required')
                        #datepicker.input-group.date.no-padding(name='date')
                          input.form-control(type='text', placeholder='Ngày sinh', value=old('date'))
                          span.input-group-addon
                            i.glyphicon.glyphicon-calendar
                      if ($errors->has('date'))
                        span.help-block
                          strong=$errors->first('date')
                  .col-md-6.col-sm-6.col-xs.reg_form_margin
                    .form-group(class=$errors->has('group-sex') ? ' has-error' : '')
                      .group-sex(name='group-sex', required='required')

                        gens = json_decode('[["Nam"],["Nữ"],["Khác"]]')
                        each gen, i in gens
                          label.radio-inline
                            input(type='radio', name='optradio')
                            | #{gen[0]}

                      if ($errors->has('group-sex'))
                        span.help-block
                          strong=$errors->first('group-sex')
                  .col-md-6.col-sm-6.col-xs.reg_form_margin
                    .form-group(class=$errors->has('phone') ? ' has-error' : '')
                      .input-group.no-padding(name='phone', required='')
                        span.input-group-addon(style='cursor: default;')
                          span +84
                        input#phone.form-control(type='text', placeholder='Số điện thoại', name='', value=old('phone'))
                      if ($errors->has('phone'))
                        span.help-block
                          strong=$errors->first('phone')
                  .col-md-6.col-sm-6.col-xs.reg_form_margin
                    .form-group(class=$errors->has('address') ? ' has-error ' : '' )
                      input(class=('address')).form-control(type='text', placeholder=('Địa chỉ'), name=('address'), value= old('address'), required='required', autofocus='autofocus')
                      if ($errors->has('address'))
                        span.help-block
                          strong=$errors->first('address')
                .sub-reg
                  .col-md-12
                    a.back-logout.col-md-4.col-sm-3.col-xs.btn.btn-warning(href=route('home'), type='submit')  Quay lại
                    button#reg_btn.col-md-4.col-sm-3.col-xs.btn.btn-success(type='submit')  Đăng ký

  include ../layouts/app-script
  script(type='text/javascript', src='../js/moment.js')
  script(type='text/javascript', src='../js/datepicker.min.js')
  script(type='text/javascript').
      $(".reg").validate({
        rules:{
          f_name:{required: true,minlength: 5,},
          l_name:{required: true,minlength: 5,},
          email: {required: true,email: true},
          date:{required:true,date:true,},
          sex:{required:true,},
          address:{required: true,},
          p_code:{required: true,number: true,},
          phone:{required: true,minlength: 10,number:true,},
          password: {required: true,minlength: 8,},
          password_confirm: {required: true,minlength: 8,equalTo: '#password',}
        },
        messages:{
          f_name:{required: "vui lòng nhập tên",minlength: "dài ra"},
          l_name:{required: "vui lòng nhập tên",minlength: "dài ra"},
          email: {required: "vui lòng nhập email",email: "không fải định dạng mail"},
          date:{required:"bạn chưa chọn ngày sinh",},
          sex:{required:"bạn chưa chọn giới tính",},
          address:{required: "bạn chưa nhập địa chỉ",},
          p_code:{required: "bạn chưa nhập CMND",number: "bạn nhập không đúng định dạng",},
          phone:{required: "bạn chưa nhập điện thoại",minlength: "tối thiểu 10 số",number: "bạn nhập không đúng định dạng",},
          password: {required: "vui lòng nhập password",minlength: "dài ra xem nào"},
          password_confirm: {required: "vui lòng nhập repassword",minlength: "dài ra xem nào",equalTo: "không khớp pass",}
        }
      });
      strengthResult = $('#pass-strength-result');
      strengthResult.show();
        $('#password').keyup(function(e) {
        e.preventDefault();
        user = $('#email').val(); pass1 = $('#password').val(); pass2 = $('#password-confirm').val();
        if (pass1 != '') {
        AddStyle (passwordStrength(pass1,user,pass2));
        } else{
        strengthResult.removeClass().text('Strength indicator');
        }
      });
      $('#password-confirm').keyup(function(e) {
        e.preventDefault();
        user = $('#email').val(); pass1 = $('#password').val(); pass2 = $('#password-confirm').val();
        if (pass2 != '') {
        AddStyle (passwordStrength(pass1,user,pass2));
        } else{
        strengthResult.removeClass().text('Strength indicator');
        }
      });
      $('#reg_btn').click(function(e) {
        e.preventDefault();
        user = $('#email').val();pass1 = $('#password').val();pass2 = $('#password-confirm').val();
        if(user != '' && pass1 != '' && pass2 != '' && strengthResult.attr('class') != 'short'){
        alert('Register is successful');
        $('#email').val(''); $('#password').val(''); $('#password_confirm').val('');
        strengthResult.removeClass().text('Strength indicator');
        }
      });
      function AddStyle(result) {
        if (result == 1) {
        strengthResult.removeClass().addClass('short').text('Very Weak')
        };
        if (result == 2){
        strengthResult.removeClass().addClass('bad').text('Weak')
        };
        if (result == 3){
        strengthResult.removeClass().addClass('good').text('Medium')
        };
        if (result == 4){
        strengthResult.removeClass().addClass('strong').text('Strong')
        };
        if (result == 5){
        strengthResult.removeClass().addClass('short').text('Mismatch')
        };
      }
        // Password strength meter
      function passwordStrength(password1, username, password2) {
        var shortPass = 1, badPass = 2, goodPass = 3, strongPass = 4, mismatch = 5, symbolSize = 0, natLog, score;
        // password 1 != password 2
        if ( (password1 != password2) && password2.length > 0)
        return mismatch
        //password < 4
        if ( password1.length < 4 )
        return shortPass
        //password1 == username
        if ( password1.toLowerCase() == username.toLowerCase() )
        return badPass;
        if ( password1.match(/[0-9]/) )
        symbolSize +=10;
        if ( password1.match(/[a-z]/) )
        symbolSize +=26;
        if ( password1.match(/[A-Z]/) )
        symbolSize +=26;
        if ( password1.match(/.,[,!,@,#,$,%,^,&,*,?,_,~,-,(,),]/) )
        symbolSize +=26;
        if ( password1.match(/[^a-zA-Z0-9]/) )
        symbolSize +=31;
        natLog = Math.log( Math.pow(symbolSize, password1.length) );
        score = natLog / Math.LN2;
        if (score < 40 )
        return badPass
        if (score < 56 )
        return goodPass
        return strongPass;
      }
      $('#datepicker.date').datepicker({
        format: "dd/mm/yyyy",
        weekStart: 0,
        startView: 4,
        maxViewMode: 2,
        autoclose: true,
        todayHighlight: true,
        startDate:"-217y,-4m,+5d",
        endDate:"+infinity",
        todayBtn: "linked",
        defaultViewDate: { year: 1800, month: 0, day: 0 },
        //- beforeShowYear: function (date){
        //-   if (date.getFullYear() < 1800) {
        //-     return false;
        //-   }
        //-   if (date.getFullYear() > 2000 ) {
        //-     return false;
        //-   }
        //- },
      });

