extends layouts/app-wels
block content

	main.cd-main-content.main-user.main-profile
		.container
			.panel-heading
				h1 Lịch sử đặt hàng
				hr
				h2 Danh mục đơn hàng của bạn
			orders = $orders
			each order,i in orders
				.panel.panel-default.donhang
					h4 Đơn hàng #
						span=order->id
						| &nbsp;&nbsp;-&nbsp;&nbsp;
						span=order->status
					.panel-body
						ul.list-group
							items = $order->cart->items
							each item,i in items
								li.list-group-item.col-md-12
									h4.col-md-7=$item['item']['name']
									.col-md-5.text-center
										span=number_format($item['item']['price'])
											| &nbsp;&nbsp;x&nbsp;&nbsp;
										span=item['qty']
											|  Vé&nbsp;&nbsp;=&nbsp;&nbsp;
										span.badge=number_format($item['price'])
											|  VNĐ
					.panel-footer.text-right
						span.total Total Price:&nbsp;
							h3=number_format(order->cart->totalPrice)
								|  VNĐ

	include layouts/app-wels-footer