extends layouts/app-wels
block content

	main.cd-main-content.main-user.main-profile
		.container
			.panel-heading
				h1(style='text-align:center') Trang quản lí thông tin cá nhân
        hr
        .row
					.col-md-12
						.x_content
							div(role='tabpanel', data-example-id='togglable-tabs')
								ul#myTab.nav.nav-tabs.bar_tabs(role='tablist')
									li.active(role='presentation')
										a#home-tab(href='#tour', role='tab', data-toggle='tab', aria-expanded='true') Thông tin cá nhân
									li(role='presentation')
										a#profile-tab(href='#detailtour', role='tab', data-toggle='tab', aria-expanded='false') Đổi mật khẩu
								#myTabContent.tab-content
									#tour.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='home-tab')
										form.reg(role='form', method='POST', action=route('updateProfile',$user->id))
											div!=csrf_field()
											.row
												.col-md-6.col-sm-6.col-xs.reg_form_margin
													.form-group(class=$errors->has('f_name') ? ' has-error ' : '' )
														input(class=('f_name')).form-control(type=('text'), placeholder=('Họ'), name=('f_name'), value= $user->f_name, required='required', autofocus='autofocus')
														if ($errors->has('f_name'))
															span.help-block
																strong=$errors->first('f_name')
												.col-md-6.col-sm-6.col-xs.reg_form_margin
													.form-group(class=$errors->has('l_name') ? ' has-error ' : '' )
														input(class=('l_name')).form-control(type=('text'), placeholder=('Tên'), name=('l_name'), value= $user->l_name, required='required', autofocus='autofocus')
														if ($errors->has('l_name'))
															span.help-block
																strong=$errors->first('l_name')
												.col-md-6.col-sm-6.col-xs.reg_form_margin
													.form-group(class=$errors->has('email') ? ' has-error ' : '' )
														input(class=('email')).form-control(type=('email'), placeholder=('Email'), name=('email'), value= $user->email, required='required', autofocus='autofocus')
														if ($errors->has('email'))
															span.help-block
																strong=$errors->first('email')
												.col-md-6.col-sm-6.col-xs.reg_form_margin
													.form-group(class=$errors->has('p_code') ? ' has-error ' : '' )
														input(class=('p_code')).form-control(type=('text'), placeholder=('CMND'), name=('p_code'), value= $user->p_code, required='required', autofocus='autofocus')
														if ($errors->has('p_code'))
															span.help-block
																strong=$errors->first('p_code')

												.col-md-6.col-sm-6.col-xs.reg_form_margin
													.form-group(class=$errors->has('address') ? ' has-error ' : '' )
														input(class=('address')).form-control(type='text', placeholder=('Địa chỉ'), name=('address'), value= $user->address, required='required', autofocus='autofocus')
														if ($errors->has('address'))
															span.help-block
																strong=$errors->first('address')

												.col-md-6.col-sm-6.col-xs.reg_form_margin
													.form-group(class=$errors->has('gender') ? ' has-error' : '')
														.group-sex(name='gender', required='required')

															gens = json_decode('[["Nam"],["Nữ"]]')
															each gen, i in gens
																label.radio-inline
																	input(type='radio', value=i, name='gender')
																	| #{gen[0]}

														if ($errors->has('gender'))
															span.help-block
																strong=$errors->first('gender')

												.col-md-6.col-sm-6.col-xs.reg_form_margin
													.form-group(class=$errors->has('birthday') ? ' has-error' : '')
														.form-group(required='required')
															#datepicker.input-group.date.no-padding(name='birthday')
																input.form-control(type='text', name='birthday' placeholder='Ngày sinh', value=date('d/m/Y',strtotime($user->birthday)))
																span.input-group-addon
																	i.glyphicon.glyphicon-calendar
														if ($errors->has('birthday'))
															span.help-block
																strong=$errors->first('birthday')

												.col-md-6.col-sm-6.col-xs.reg_form_margin
													.form-group(class=$errors->has('phone') ? ' has-error' : '')
														.input-group.no-padding(name='phone', required='')
															span.input-group-addon(style='cursor: default;')
																span +84
															input#phone.form-control(type='text', placeholder='Số điện thoại', name='phone', value=$user->phone)
														if ($errors->has('phone'))
															span.help-block
																strong=$errors->first('phone')
											.sub-reg
												.col-md-12
													a.back-logout.col-md-4.col-sm-3.col-xs.btn.btn-warning(href=route('home'), type='submit') Hủy
													button#reg_btn.col-md-4.col-sm-3.col-xs.btn.btn-success(type='submit')  Cập nhật
									#detailtour.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
										form.reg(role='form', method='POST', action=route('changePassword',$user->id))
											div!=csrf_field()
											.col-md-6.col-sm-6.col-xs.reg_form_margin
													.form-group(class= $errors->has('oldpassword') ? ' has-error' : '')
														input(class=('oldpassword')).form-control(type='password', placeholder=('Mật khẩu cũ'), name=('oldpassword'), required='required', autofocus='autofocus')
														if ($errors->has('oldpassword'))
															span.help-block
																strong=$errors->first('oldpassword')
											.col-md-6.col-sm-6.col-xs.reg_form_margin
													.form-group(class= )
														input(class=('password')).form-control(type='password', placeholder=('Mật khẩu mới'), name=('password'), required='required', autofocus='autofocus')
														if ($errors->has('password'))
															span.help-block
																strong=$errors->first('password')
											.col-md-6.col-sm-6.col-xs.reg_form_margin
													.form-group(class= )
														input(class=('password_confirmation')).form-control(type='password', placeholder=('Xác nhận mật khẩu mới'), name=('password_confirmation'), required='required', autofocus='autofocus')
														if ($errors->has('password_confirmation'))
															span.help-block
																strong=$errors->first('password_confirmation')
											.sub-reg
												.col-md-12
													a.back-logout.col-md-4.col-sm-3.col-xs.btn.btn-warning(href=route('home'), type='submit') Hủy
													button#reg_btn.col-md-4.col-sm-3.col-xs.btn.btn-success(type='submit')  Cập nhật
	include layouts/app-wels-footer