extends layouts/app-wels
block content
	main.cd-main-content.main-user.main-tour
		.intro
			#search-tabs
				ul.nav.nav-tabs(role='tablist')
					li.active(role='presentation')
						a(href='#booking', aria-controls='home', role='tab', data-toggle='tab') Du lịch trong nước
					li(role='presentation')
						a(href='#outlanding', aria-controls='outlanding', role='tab', data-toggle='tab') Du lịch nước ngoài
					li(role='presentation')
						a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Tìm vé máy bay
					li(role='presentation')
						a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Dịch vụ cho thuê xe

				.tab-content.text-center
					#booking.tab-pane.fade.in.active(role='tabpanel')
						.book-form
							.form-group.text-center
								form(action=route('tour.search'))
									btns = json_decode('[["noikhoihanh ","Nơi khởi hành"], ["noiden","Nơi đến"]]')
									each btn, i in btns
										select.selectpicker.input-group.col-xs-4(data-live-search='true',name='#{btn[0]}', title='#{btn[1]}')
											nbvs = $location
											each nbv, i in nbvs
												if (nbv->region_id <= 3)
													option(data-tokens="#{nbv->name} #{nbv->slug}", value=nbv->slug)=nbv->name
									button.btn.btn-default.btn-b-s(type='submit') Tìm kiếm

					#outlanding.tab-pane.fade(role='tabpanel')
						.book-form
							.form-group.text-center
								form(action=route('tour.search'))
									btns = json_decode('[["noikhoihanh ","Nơi khởi hành"], ["noiden","Nơi đến"]]')
									each btn, i in btns
										select.selectpicker.input-group.col-xs-4(data-live-search='true',name='#{btn[0]}', title='#{btn[1]}')
											nbns = $location
											each nbn, i in nbns
												if (nbn->region_id > 3)
													option(data-tokens="#{nbn->name} #{nbn->slug}", value=nbn->slug)=nbn->name
									button.btn.btn-default.btn-b-s(type='submit') Tìm kiếm

					#messages.tab-pane.fade(role='tabpanel')
						p	coming soon
					#settings.tab-pane.fade(role='tabpanel')
						p coming soon

		.container
			.row.justify-content-md-center#tour-overflow
				.grid
					.grid-sizer
					datas = $tours
					each data, i in datas
						.grid-item
							div(style="height: 250px;")
								img(src='../img/'+ data->slug + '.jpg', alt='Card image cap')
							.grid-intro.col-md-12
								a(href=route('tour.single', data->slug))
									h3.h-g-intro=data->name
								.schedule.col-md-5.col-xs-12
									i.fa.fa-clock-o(aria-hidden='true')
									h5=data->day
										|  ngày
									br
									i.fa.fa-calendar(aria-hidden='true')
									h5=date('d/m/Y',strtotime(data->depart_date))
								.price.col-md-7.col-xs-12
									h3=number_format(data->price)
										sup VND
									.action.col-sm-12
										a.btn.btn-primary(href=route('tour.single', data->slug))
											i.fa.fa-eye(aria-hidden='true')
										a.btn.btn-primary(href=route('addShoppingCart', data->id))
											i.fa.fa-cart-plus(aria-hidden='true')
		.page.text-center!=$tours->links()
		.second

	include layouts/app-wels-footer
	script(type='text/javascript', src='../js/parallax.js')
	script(type='text/javascript', src='../js/moment.js')
	script(type='text/javascript', src='../js/datepicker.min.js')
	script(type='text/javascript', src='../js/isotope.pkgd.min.js')
	script(type='text/javascript', src='../js/imagesloaded.pkgd.min.js')
	script(type='text/javascript', src='../js/curtail.min.js')
	script(type='text/javascript', src='../js/jquery.dotdotdot.min.js')
	script(type='text/javascript').
		$('.intro').parallax("50%", 0.1);
		$('.second').parallax("50%", 0.1);
		var grid = document.querySelector('.grid');
		var iso = new Isotope( grid, {
			itemSelector: '.grid-item',
			percentPosition: true,
			masonry: {
				columnWidth: '.grid-sizer'
			}
		});

		imagesLoaded( grid ).on( 'progress', function() {
			// layout Isotope after each image loads
			iso.layout();
		});

		$('.datepicker.input-daterange').datepicker({
			format: "dd/mm/yyyy",
			startDate: "-infinity",
			endDate:"+7m,+4d",
			maxViewMode: 1,
			todayBtn: "linked",
			todayHighlight: true
		});
		$(document).ready(function(){
			$('.h-g-intro').dotdotdot({
				height: 30,
			});
		});
		$('.selectpicker').selectpicker({
			style: 'btn-default',
			size: 5
		});