extends layouts/app-wels
block content
	main.cd-main-content.main-user.main-tour
		.intro

		.container
			.row

			.row.justify-content-md-center#tour-overflow
				.grid
					.grid-sizer
					datas = $tours
					each data, i in datas
						.grid-item
							img(src='../img/'+data->image, alt='Card image cap')
							.grid-intro.col-md-12
								a(href=route('tour.single', data->slug))
									h3=data->name
								.schedule.col-md-5.col-xs-12
									i.fa.fa-clock-o(aria-hidden='true')
									h5=data->day
										|  ngày
									br
									i.fa.fa-calendar(aria-hidden='true')
									h5=date('d/m/Y',strtotime(data->depart_date))
								.price.col-md-7.col-xs-12
									h3=number_format(data->price)
										sup VND
									.action.col-sm-12
										a.btn.btn-primary(href=route('tour.single', data->slug))
											i.fa.fa-eye(aria-hidden='true')
										a.btn.btn-primary(href=route('addShoppingCart', data->id))
											i.fa.fa-cart-plus(aria-hidden='true')
		.text-center!=$tours->links()
		.second

	include layouts/app-wels-footer
	script(type='text/javascript', src='../js/parallax.js')
	script(type='text/javascript', src='../js/moment.js')
	script(type='text/javascript', src='../js/datepicker.min.js')
	script(type='text/javascript', src='../js/isotope.pkgd.min.js')
	script(type='text/javascript', src='../js/imagesloaded.pkgd.min.js')
	script(type='text/javascript', src='../js/curtail.min.js')
	script(type='text/javascript').
		$('.intro').parallax("50%", 0.1);
		$('.second').parallax("50%", 0.1);
		var grid = document.querySelector('.grid');
		var iso = new Isotope( grid, {
			itemSelector: '.grid-item',
			percentPosition: true,
			masonry: {
				columnWidth: '.grid-sizer'
			}
		});

		imagesLoaded( grid ).on( 'progress', function() {
			// layout Isotope after each image loads
			iso.layout();
		});

		$('.datepicker.input-daterange').datepicker({
			format: "dd/mm/yyyy",
			startDate: "-infinity",
			endDate:"+7m,+4d",
			maxViewMode: 1,
			todayBtn: "linked",
			todayHighlight: true
		});