extends layouts/app-wels
block content

	main.cd-main-content.main-user
		//- {{-- carousel star --}}
		.container
			.bxslider
				navs = json_decode('[["mountains"],["parallax1"],["parallax2"]]')
				each nav, i in navs
					.slide
						img(src='../img/#{nav[0]}.jpg')
			//- {{-- carousel end --}}
			#search-tabs
				ul.nav.nav-tabs(role='tablist')
					li.active(role='presentation')
						a(href='#booking', aria-controls='home', role='tab', data-toggle='tab') Du lịch trong nước
					li(role='presentation')
						a(href='#outlanding', aria-controls='profile', role='tab', data-toggle='tab') Du lịch nước ngoài
					li(role='presentation')
						a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Tìm vé máy bay
					li(role='presentation')
						a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Dịch vụ cho thuê xe

				.tab-content.text-center
					#booking.tab-pane.fade.in.active(role='tabpanel')
						.book-form
							.form-group.text-center
								form(action=route('tour.search'))
									btns = json_decode('[["noidi","Nơi đi"], ["noiden","Nơi đến"]]')
									each btn, i in btns
										select.selectpicker.input-group.col-xs-4(data-live-search='true',name='#{btn[0]}', title='#{btn[1]}')
											nbvs = $location
											each nbv, i in nbvs
												if (nbv->region_id <= 3)
													option(data-tokens=nbv->slug, value=nbv->slug)=nbv->name
									button.btn.btn-default.btn-b-s(type='submit') Tìm kiếm

					#outlanding.tab-pane.fade(role='tabpanel')
						.book-form
							.form-group.text-center
								form(action=route('tour.search'))
									btns = json_decode('[["noidi","Nơi đi"], ["noiden","Nơi đến"]]')
									each btn, i in btns
										select.selectpicker.input-group.col-xs-4(data-live-search='true',name='#{btn[0]}', title='#{btn[1]}')
											nbns = $location
											each nbn, i in nbns
												if (nbn->region_id > 3)
													option(data-tokens=nbn->slug, value=nbn->slug)=nbn->name
									button.btn.btn-default.btn-b-s(type='submit') Tìm kiếm

					#messages.tab-pane.fade(role='tabpanel')
						p	coming soon
					#settings.tab-pane.fade(role='tabpanel')
						p coming soon

		.introduce
			.wrap-intro.container
				h1.text-center.d-header Du lịch trong nước
				p.text-center.d-info
					| Tham gia tour du lịch trong nước của Vacation World quý khách sẽ có cơ hội chiêm ngưỡng những cảnh đẹp ở 3 miền Bắc - Trung - Nam của Việt Nam.  Dưới dây là các chương trình tour giá tốt nhất với nhiều chương trình khuyến mãi.
			.container
				.row.no-margin
				navs = $regions
				each nav, i in navs
					if (nav->id <= 3 )
						.col.col-md-4.no-padding.thumbnail
							div(id="block#{i}").clearfix
								.i-tn-img-box
									img.img-responsive(src='../img/' + nav->slug + '.jpg')
									.cap-header
										h1=nav->name
									.block-caption
										.info
											h2=nav->name
											p=nav->introduce
											a.btn(href='/tour/vung='+ nav->slug)
												| Đọc thêm &#62;&#62;
			.text-center(style="padding: 15px 0;")
				a.btn.i-btn(href='/tour/loaihinh=trong-nuoc' )
					| Đọc thêm &#62;&#62;
		.offer
			.wrap-offer
				.wrap-offer-content.container
					h1.text-center.d-header Du lich nước ngoài
					p.text-center.d-info
						| Các chương trình tour của Vacation World đến các quốc gia trên thế giới với dịch vụ trọn gói, nhiều ưu đãi đảm bảo cho du khách có những hành trình tuyệt vời, trải nghiệm khó quên.
				.container
					.row.no-margin
						navs = $regions
						each nav, i in navs
							if ( nav->id > 3)
								.col.col-md-3.col-sm-6.no-padding.thumbnail
									div(id="block#{i}").clearfix
										.o-tn-img-box
											img.img-responsive(src='../img/' + nav->slug + '.jpg')
											.cap-header
												h1=nav->name
											.block-caption
												.info
													h2=nav->name
													p=nav->introduce
													a.btn(href='/tour/vung='+ nav->slug)
														| Đọc thêm &#62;&#62;
				.text-center(style="padding: 15px 0;")
					a.btn.o-btn(href='/tour/loaihinh=nuoc-ngoai')
						| Đọc thêm &#62;&#62;


	include layouts/app-wels-footer
	script(type='text/javascript', src='../js/parallax.js')
	script(type='text/javascript', src='../js/bxslider.min.js')
	script(type='text/javascript', src='../js/moment.js')
	script(type='text/javascript', src='../js/datepicker.min.js')
	script(type='text/javascript').
		$('#datepicker.date').datepicker({
			format: "dd/mm/yyyy",
			weekStart: 0,
			startView: 0,
			maxViewMode: 1,
			autoclose: true,
			todayHighlight: true,
			startDate:"-infinity",
			endDate: "+6m",
			todayBtn: "linked",
		});
		$('.offer').parallax("50%", -0.04);
		$(document).ready(function(){
			$('.bxslider').bxSlider({
				speed: 800,
				auto: true,
				hideControlOnEnd: true,
				controls: true,
				slideWidth: 400,
				minSlides: 2,
				maxSlides: 3,
				slideMargin: 10
			});
		});
		$('.selectpicker').selectpicker({
			style: 'btn-default',
			size: 3
		});
		//- $('.selectpicker').on('changed.bs.select', function (e) {
		//- 	var picker = $(this).val();
		//- 	window.location.href = picker;
		//- });


