header
	.cd-logo
		a(href='/')
			img(src='../img/logo_nui.png', alt='Logo')
	nav.cd-main-nav-wrapper
		ul.cd-main-nav
			li
				a(href='/')
					i.fa.fa-home(aria-hidden='true')
					span &nbsp;Trang chủ
			li
				a(href='/tour')
					i.fa.fa-paper-plane(aria-hidden='true')
					span &nbsp;Chuyến đi
			li
				a.nav-link(href='', data-toggle='modal', data-target='#shopping')
					i.fa.fa-shopping-cart(aria-hidden='true')
					span &nbsp;Giỏ hàng&nbsp;
					span.badge=(Session::has('cart') ? Session::get('cart')->totalQty : '')

			li
				a.cd-subnav-trigger(href='#0')
					i.fa.fa-user(aria-hidden='true')
					span &nbsp;Tài khoản
				ul
					li.go-back
						a(href='#0') Menu

					if (Auth::guest())
						li.nav-item
							a.nav-link(href='', data-toggle='modal', data-target='#login')
								i.fa.fa-sign-in(aria-hidden="true")
								span &nbsp;Đăng nhập
						li.nav-item
							a.nav-link(href='', data-toggle='modal', data-target='#register')
								i.fa.fa-user-plus(aria-hidden="true")
								span &nbsp;Đăng ký
					else
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')=(Auth::user()->f_name.' '.Auth::user()->l_name)

								span.caret
							ul.dropdown-menu.dropdown-logout(role='menu')
								li
									a(href=route('user.profile'))
										i.fa.fa-list-ul(aria-hidden="true")
										span &nbsp;Lịch sử giao dịch
								li
									a(href= route('user.logout.submit'), onclick="event.preventDefault();document.getElementById('logout-form').submit();")
										i.fa.fa-sign-out(aria-hidden="true")
										span &nbsp;Đăng xuất
									form#logout-form(action=route('user.logout.submit'), method='POST', style='display: none;')
										div!=csrf_field()
					li
						a.placeholder(href='#0') Placeholder
	a.cd-nav-trigger(href='#0')
		span

div
	#login.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
		.modal-dialog(role='document')
			.modal-content
				.panel-heading
					h1.text-center Hello!
					p.text-center
						| Wellcome to Vacation World
						br
						| Please login your account!
				.panel-body
					form.form-horizontal(role='form', method='POST', action=route('user.login.submit'))
						div!=csrf_field()
						navs = json_decode('[["email","E-mail"],["password","Mật khẩu"]]')
						each nav, i in navs
							.form-group(class=$errors->has('#{nav[0]}') ? ' has-error' : '')
								.col-md-10.col-md-offset-1
									input(id=('#{nav[0]}')).form-control(type=('#{nav[0]}'), name=('#{nav[0]}'), placeholder=('#{nav[1]}'), value=old('#{nav[0]}'), required='', autofocus='')
									if ($errors->has('#{nav[0]}'))
										span.help-block
											strong=$errors->first('#{nav[0]}')
						.form-group
							.col-md-8.col-md-offset-2
								.checkbox.text-center
									label
										input(type='checkbox', name='remember', checked=old('remember') ? 'checked':null)
										| Remember Me
						.form-group
							.col-md-8.col-md-offset-2.acc-group
								button.btn.btn-success.btn-block(type='submit') Login
								a.btn.btn-link.btn-block(href=route('password.request')) Forgot Your Password?
								p.text-center(style='margin:0;') - or -
								a.btn.btn-link.btn-block(href=route('register'))
									| Don't have an account?
									br
									| Register now!

div
	#register.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
		.modal-dialog(role='document')
			.modal-content
				.panel-heading
					h1.text-center Register
				.panel-body
					form.reg(role='form', method='POST', action=route('register'))
						div!=csrf_field()
						.row
							navs = json_decode('[["text","f_name","Họ"],["text","l_name","Tên"],["text","p_code","CMND"],["email","email","E-mail"],["password","password","Mật khẩu"],["password","password_confirmation","Nhập lại mật khẩu"]]',true)
							each nav, i in navs
								.col-md-6.col-sm-6.col-xs.reg_form_margin
									.form-group(class=$errors->has('#{nav[1]}') ? ' has-error ' : '' )
										input(class=('#{nav[1]}')).form-control(type=('#{nav[0]}'), placeholder=('#{nav[2]}'), name=('#{nav[1]}'), value= old('#{nav[1]}'), required='required', autofocus='autofocus')
										if ($errors->has('#{nav[1]}'))
											span.help-block
												strong=$errors->first('#{nav[1]}')

							.col-md-6.col-sm-6.col-xs.reg_form_margin
								.form-group(class=$errors->has('address') ? ' has-error ' : '' )
									input(class=('address')).form-control(type='text', placeholder=('Địa chỉ'), name=('address'), value= old('address'), required='required', autofocus='autofocus')
									if ($errors->has('address'))
										span.help-block
											strong=$errors->first('address')

							.col-md-6.col-sm-6.col-xs.reg_form_margin
								.form-group(class=$errors->has('gender') ? ' has-error' : '')
									.group-sex(name='gender', required='required')

										gens = json_decode('[["Nam"],["Nữ"]]')
										each gen, i in gens
											label.radio-inline
												input(type='radio', value=i, name='gender')
												| #{gen[0]}

									if ($errors->has('gender'))
										span.help-block
											strong=$errors->first('gender')

							.col-md-6.col-sm-6.col-xs.reg_form_margin
								.form-group(class=$errors->has('birthday') ? ' has-error' : '')
									.form-group(required='required')
										#datepicker.input-group.date.no-padding(name='birthday')
											input.form-control(type='text', name='birthday' placeholder='Ngày sinh', value=old('birthday'))
											span.input-group-addon
												i.glyphicon.glyphicon-calendar
									if ($errors->has('birthday'))
										span.help-block
											strong=$errors->first('birthday')

							.col-md-6.col-sm-6.col-xs.reg_form_margin
								.form-group(class=$errors->has('phone') ? ' has-error' : '')
									.input-group.no-padding(name='phone', required='')
										span.input-group-addon(style='cursor: default;')
											span +84
										input#phone.form-control(type='text', placeholder='Số điện thoại', name='phone', value=old('phone'))
									if ($errors->has('phone'))
										span.help-block
											strong=$errors->first('phone')
						.sub-reg
							.col-md-12
								a.back-logout.col-md-4.col-sm-3.col-xs.btn.btn-warning(href=route('home'), type='submit') Quay lại
								button#reg_btn.col-md-4.col-sm-3.col-xs.btn.btn-success(type='submit')  Đăng ký

div
	#shopping.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
			.modal-dialog(role="document" style="width: 750px")
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal", aria-label="Close")
							span(aria-hidden="true") ×
						h1 Giỏ hàng

					if (Session::has('cart'))
						.modal-body
							carts = $carts
							each cart, i in carts
								li.list-group-item
									.row(style='margin: 0.75rem 0;')
										.col-md-4
											h3.h-c(style='margin: 0;')=$cart['item']['name']
										.col-md-7.text-center
											input.quantity.text-center(type='text', data-id=$cart['item']['id'], value=$cart['qty'], size='1')
											span &nbsp;vé x &nbsp;
												strong=number_format($cart['item']['price'])
													sup &nbsp;VND&nbsp;
												| =&nbsp;
											strong(style='font-size: 100%;')=number_format($cart['price'])
												sup &nbsp;VND
										.col-md-1.text-center
											a.btn.btn-danger.btn-delete(href='', data-id=$cart['item']['id'], style='padding: 2px 12px') X
						.modal-footer
							.row
								.form-group.text-center
									.col-md-6.cart-act
										button#btnUpdate.btn.btn-sm.btn-primary Cập nhập giỏ hàng
										if (Auth::guest())
											a.btn.btn-sm.btn-success(type="button", data-dismiss="modal", data-toggle='modal', data-target='#login') Thanh toán
										else
											a#btnCheckout.btn.btn-sm.btn-success(href=route('checkout'), type="button") Thanh toán
										button#btnDelete.btn.btn-sm.btn-danger Xóa
									.col-md-6
										h3(style="margin: 0")
											strong Tổng tiền:&nbsp;
												=number_format($price)
												sup &nbsp;VND
					else
						.row(style="text-align: center;")
							h2 No Items in Cart!

					//- .modal-footer
					//- 	button.btn.btn-default.btn-warning(type="button", data-dismiss="modal") Tắt
					//- 	if (Auth::guest())
					//- 		a.btn.btn-success(type="button", data-dismiss="modal", data-toggle='modal', data-target='#login') Thanh toán
					//- 	else
					//- 		a.btn.btn-success(href=route('checkout'), type="button") Thanh toán